.mainview {
  flex: 4;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainview-header {
  font-size: 2.5rem;
}

.mainview-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contact-table {
  padding: 2rem;
}
