.sidebar {
  background-color: #fafafa;
  height: 100vh;
  flex: 1;
  padding: 1.5rem;
}

.sidebar-header {
  padding: 0.5rem;
  color: #212324;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.sidebar-list {
  list-style: none;
  color: #111215;
  padding: 0;
  margin: 2rem 0;
}

.sidebar-list-item {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.sidebar-list-item.selected {
  background-color: #f1f0f2;
  border-radius: 8px;
  font-weight: bold;
}

.sidebar .action-button {
  width: 100%;
}

.sidebar-action-button-container {
  align-items: stretch;
}